<div class="thread">
  <% if user_signed_in? %>
    <h1>Welcome back <%= current_user.realname %>!</h1>
    <div class="welcome">
    <h2 class="twitter-button homepage-button"><i class="fab fa-twitter"></i> <%= link_to 'Tweet something', new_tweet_path(@user) %></h2>
    </div>
  <% else %>
    <h1>See what's happening in the world right now</h1>
    <div class="welcome">
    <h2 class="twitter-button homepage-button"><i class="fab fa-twitter"></i> <%= link_to 'Join Twitter', new_user_registration_path %></h2>
    </div>
  <% end %>
  <% @tweets.reverse.each do |tweet| %>
          <div class="tweet">
            <h3 class="black">
              <td><%= link_to tweet.user.realname, user_profile_path(tweet.user) %> @<%= link_to tweet.user.username, user_profile_path(tweet.user) %></td>
            </h3>
            <h2>
              <td><%= tweet.body %></td>
            </h2>
            <h3 class="date-time">
              <td><%= tweet.created_at.strftime('%T · %F · Twitter Web App')%></td>
            </h3>
            <hr>
            <div class="bottom-tweet">
            <% if user_signed_in? %>
              <% if current_user.liked? tweet %>
                  <%= link_to dislike_tweet_path(tweet.id), method: :put do %>
                  <div class="like">
                    <%= image_tag("like.png", :alt => "Like", height: 18, width: 20) %>
                    <%= tweet.get_likes.size %>
                    Likes
                  </div>
                <% end %>
                <% else %>
                <%= link_to like_tweet_path(tweet), method: :put do %>
                <div class="like">
                  <%= image_tag("dislike.png", :alt => "Like", height: 18, width: 20) %>
                  <%= tweet.get_likes.size %>
                  Likes
                </div>
              <% end %>
             <% end %>
             <% if current_user == tweet.user %>
                  <%= link_to "Delete Tweet", tweet_path(tweet.id), :confirm => "Are you sure?", :method => :delete, :class => 'delete'  %>
             <% end %>
          <% else %>
          <div class="like">
            <%= image_tag("dislike.png", :alt => "Like", height: 18, width: 20) %>
            <%= tweet.get_likes.size %>
            Likes
          </div>
          <% end %>
          </div>
      </div>
<% end %>
</div>
