<div>
<h1><%= @userinfo.email %></h1>
<h2>You have tweeted <%= @usercount.size %> time(s).</h2>
</div>

<div>
<% @tweets.reverse.each do |tweet| %>
  <% if @userinfo == tweet.user %>
    <p>
      <tr>
        <div  class="tweet">
          <h3 class="black"><td><%= link_to tweet.user.email, user_profile_path(tweet.user) %></td></h3>
          <h2><td><%= tweet.body %></td></h2>
          <h3><td><%= tweet.created_at %></td></h3>
          <span class="twitter-button">
            <%= link_to "Delete", tweet_path(tweet.id), :confirm => "Are you sure?", :method => :delete %>
          </span>
        </div>
      </tr>
    </p>
  <% end %>
<% end %>
</div>
