<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8e996abce9.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="navbar-text">
      <span><%= link_to 'Twitter 1.0', tweets_path %></span>
      <div>
      <% if user_signed_in? %>
        <%= link_to 'New Tweet', new_tweet_path(@user) %>
        <%= link_to '| My profile |', user_profile_path(current_user.id), :class => 'navbar-link non-mobile' %>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link non-mobile' %>
        <%= link_to " | Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
      </div>
    </div>
    <%= yield %>

  </body>
  <script>
      $(document).ready(function() {
        var review_text = $("#body");
        var counter     = $("#counter");
        var max_length  = counter.data("maximum-length");

        review_text.keyup(function() {
            counter.text(max_length - $(this).val().length);
        });

      });
  </script>
</html>
